/****** 
Header Section
******/
header {
	min-height: 100px;
	background-color: orange;
}

.logo {
	position: absolute;
	top: 0;
	left: 0;
}
nav {
	background-color: green;
	text-align: center;
}

nav a {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
}

/****** 
Main Body Section
******/
body {
	background: url("../img/cowboybg.png") no-repeat top left;
	background-size: 100% 100%;
	min-height: 1100px;
	background-attachment: fixed;
}

h1 {
	font-family: 'Orbitron';
	text-align: center;
}

div {
	margin-bottom: 5px;
	background-color: red;
}

.hero {
	width: 960px;
	margin: 0 auto;
}

img {
	width: 100px;
	height: 100px;
	position: absolute;
}

main {
	overflow:hidden;
}

.brief-info {
	margin: 10px;
	float: left;
	background-color: rgba(126, 194, 231, 0.2);
}

.brief-info, .credentials {
	text-align: center;
	overflow: hidden;
	border-radius: 15px;
	width: 45%;
	margin: 5px;
	padding: 10px;
	min-height: 220px;
}


.logo {
	margin-left: 70%;

}	

.logo img {
	height: 150px;
	width: 150px;
}


.credentials {
	float: right;
	background-color: rgba(176, 226, 251, 0.2);
}

.cloud {
	color: white;
	margin-left: 20%;
	font-size: 30px;
}

.brief-info {
	background-color: rgba(126, 194, 231, 0.2);
}

.credentials div {
	margin: 15px;
}




/****** 
Footer Section
******/
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: blue;
}

.options {
	display:none;
	background-color: #fff;
}

.expand .options {
	display: block;
}