/****** 
Header Section
******/
header {
	background-color: orange;
}

header .btn-group {
	position: absolute;
	right: 10px;
	margin-top: 10px;
}

header h1 {
	margin-bottom: 0;
}

/*---*/

.hero {
	background-color: green;
	text-align: center;
	width: 960px;
	margin: 0 auto;
}

img {
	width: 75px;
	height: 75px;
}

nav {
	text-align: center;
	font-size: 30px;
	color: #FEE469;
	text-shadow: 1px 1px 1px #15A2ED;
	background-color: green;
}

nav a {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	font-size: 30px;
	color: white;
	text-shadow: 1px 1px 1px #15A2ED;
	font-weight: bold;
	background-color: red;
}

/****** 
Main Body Section
******/
body {
	background: url("/img/dacowboybg.png") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	font-family: PT Sans;
}

/*.2 {
	position: absolute;
	display: inline-block;
}*/

.aftermain {
	min-height: 410px;
	background-color: green;
}


main > h1 {
	text-align: center;
	background-color: blue;
}

h3 {
	font-size: 20px;
	color: white;
	text-shadow: .5px .5px .5px #336699;
	font-weight: bold;
}

/*div {
	margin-bottom: 5px;
}*/

main {
	width: 960px;
	overflow:hidden;
	margin: 0 auto;
	background-color: blue;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

main > div {
	text-align: center;
	border-radius: 15px;
	width: 300px;
	padding: 30px;
	min-height: 300px;
	display: inline-block;
	/*position: relative;*/
}

main > div:first-child {
	float: left;
	background-color: rgba(126, 194, 231, 0.2);
	background-color: green;
}

main > div:last-child {
	float: right;
	background-color: rgba(126, 194, 231, 0.2);
	background-color: pink;
}

/*.login {
	float: right;
	margin-right: 60px;
	background-color: rgba(176, 226, 251, 0.2);
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: pink;
}*/

.col-md-6 > input {
	background-color: transparent;
	border: 2px solid white;
	border-radius: 5px; 
	height: 30px;
	font-size: 20px;
	width: 250px;
}

.login h3 {
	margin-top: 0;
	margin-bottom: 10px;
}

.btn-primary {
	background-color: #3378A6;
	border: 1px solid #3378A6;
	border-radius: 5px;
	color: white;
	padding: 5px 10px;
}

.btn-link {
	color: white;
}

.brief-info {
	background-color: rgba(126, 194, 231, 0.2);
}


/****** 
Footer Section
******/
footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: orange;
	overflow: hidden;
	min-height: 10px;
}

footer div {
	font-family: Lobster;
	color: #9C6A36;
	text-shadow: 1px 1px 1px rgb(223, 153, 68);
	border-radius: 5px;;
	display: inline-block;
	padding: 10px;
	/*position: absolute;*/
	background-color: rgba(223, 153, 68, .5);
	border-radius: 5px;
}

footer > div:nth-child(2) {
	border: 1px solid black;
	float: right;
	
}

footer a {
	color: #9C6A36;
	text-shadow: 1px 1px 1px rgb(223, 153, 68);
}

.copyright {
	margin-left: 300px;
}

/*
********************
JavaScript Classes
********************
*/
.options {
	display: none;
	background-color: #fff;
}

.expand .options {
	display: block;
}

.dropdown-menu {
	display: none;
}

.expand-dropdown {
	display: block;
	background-color: #3378A6;
	border-radius: 5px;
	margin-top: 7px;
	box-shadow: 1px 1px 1px black;
	padding: 10px;
}

.expand-dropdown a {
	text-decoration: none;
	color: white;
}

.expand-dropdown li {
	list-style-type: none;
}


/*
****************
Category/all.blade.php CSS
****************
*/

.main-cat-container {
	overflow: hidden;
	min-height: 60px;
	
}

.cat-container {
	position:absolute;
	background-color: red;
	overflow: hidden;
	left: 50%;
	width: 150px;
	margin-left: -75px;

}

.category {
	float:left;
}

/*
****************
PROFILE PAGE
****************
*/
.main-profile {
	overflow: hidden;
	background-color: yellow;
	width: 800px;
	min-height: 200px;
	position: absolute;
	left: 50%;
	margin-left: -400px;
}


.main-profile::after {
	clear: both;
	content: '';
	display: block;

}

.left-profile {
	display: inline-block;

	background-color: red;
}

.duel-setup {
	background-color: green;
	display: inline-block;
}

